//Contact Page

.contact-page {
    width: 80%;
    margin: 0 auto;
    .contact-column-one {
        width: 45%;
        border-right: 1px solid @black;
        padding-right: 100px;
    }
    h1 {
        font-family: 'Mrs Saint Delafield', cursive;
        color: @dark-text;
        font-size: 5rem;
        text-align: center;
    }
    p {
        padding: 20px 0px;
    }
    .contact-columns {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
    }
    .contact-form {
        margin-left: 100px;
    }
}
