//Home Page Header

.home-header-container {
    position: absolute;
    background-color: white;
    padding: 30px;
    margin-top: -460px;
    margin-left: 28%;
    display: flex;
    width: 600px;
    // border: 1px solid #C16E70;
    outline: 1px solid white;
    outline-offset: 5px;
    .header-text {
        padding-right: 20px;
    }
    h2 {
        font-family: 'Mrs Saint Delafield', cursive;
        color: #C16E70;
        font-size: 5rem;
        text-align: center;
    }
    p {
        font-family: 'Tenor Sans', sans-serif;

    }
    img {
        height: 300px;
        width: auto;
    }

}


//Home Page middle section

.home-quote {
    position: absolute;
    font-family: 'Tenor Sans', sans-serif;
    width: 90%;
    margin: 0 auto;
    margin-top: -360px;
    height: 400px;
    display: flex;
    justify-content: center;
    .quote-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 550px;
        background-color: white;
        padding: 20px;
        outline: 2px solid white;
        outline-offset: 5px;
        margin-left: -5%;
        margin-top: 50px;
    }
    img {
        height: 100%;
        width: auto;
        margin-left: 65%;
        margin-top: 200px;
        z-index: 4;
    }
    h2 {
        color: #adadad;
        width: 450px;
        z-index: 5;
    }
    h3 {
        color: #969696;
        display: flex;
        justify-content: center;
    }
}

//Home Page Section w/ Carousel

.home-center-div {

    height: 300px;
    margin: 0 auto;
    margin-top: 300px;
    width: 75%;
    margin-left: 18%;
    display: flex;
    flex-wrap: wrap;

    .home-tags {
        font-family: 'Mrs Saint Delafield', cursive;
        background-color: #DBB3B1;
        list-style: none;
        color: white;
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 50px;
        margin-top: 22px;
        outline: 1px solid #DBB3B1;
        outline-offset: 5px;
    }
    .joyful {
        padding-left: 10%;
        font-size: 6rem;
    }
    .artistic {
        padding-left: 30%;
        font-size: 6rem;
    }
    .genuine {
        padding-left: 50%;
        font-size: 6rem;
    }
}

.carousel-container {
    width: 400px;
    height: auto;
}


//Home Page Bottom Parallax
.home-bottom-img {
    padding-top: 150px;
}

//Home Page Footer

.home-page-footer {
    background-color: @white;
    outline: 1px solid @white;
    outline-offset: 5px;
    position: absolute;
    width: 500px;
    height: auto;
    margin-top: -450px;
    margin-left: 600px;
    padding: 50px;
    h2 {
        font-family: 'Mrs Saint Delafield', cursive;
        color: @dark-text;
        font-size: 5rem;
        text-align: center;
    }
    p {
        font-family: 'Tenor Sans', sans-serif;
    }
}
