

//Investment Page
.investment-page {
    text-align: center;
    .investment-header {
    position: absolute;
    background-color: @white;
    padding: 30px;
    margin-top: -350px;
    margin-left: 38%;
    display: flex;
    width: 300px;
    outline: 1px solid @white;
    outline-offset: 5px;
    @media @tablet {
        margin-left: 25%;
    }
    @media @phone {
        position: relative;
        background-color: none;
        margin: 0 auto;
        margin-top: 20px;
        outline: none;
        width: 80%;
        padding: 15px;
    }
    }
    h1 {
        font-family: 'Mrs Saint Delafield', cursive;
        color: @dark-text;
        font-size: 7rem;
        margin: 30px 0px;
        margin-left: 10px;
    }
}

.parallax {
    @media @phone {
        display: none;
    }
}

.price-boxes {
    margin: 50px auto;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    @media @phone{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .box {
        height: 350px;
        width: 350px;
        background-color: @white;
        padding: 20px;
        margin: 30px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        @media @tablet {
            height: 350px;
            width: 300px;
        }
        @media @phone {
            width: 80%;
            font-size: 1.4rem;
        }
    }
    h2{
        font-family: 'Mrs Saint Delafield', cursive;
        color: @dark-text;
        font-size: 5rem;
    }
    h4 {
        font-family: 'Tenor Sans', sans-serif;
        color: @light-text;
        font-size: 3rem;
    }
    p {
        font-family: 'Tenor Sans', sans-serif;
    }
}

