//Portfolio Page

.portfolio-header {
    text-align: center;
    height: 200px;
    width: 300px;
    background-color: @white;
    position: absolute;
    margin-top: -300px;
    margin-left: 37%;
    outline: 1px solid @white;
    outline-offset: 5px;
    h1 {
        padding-top: 25%;
        font-family: 'Mrs Saint Delafield', cursive;
        color: @dark-text;
        font-size: 6rem;
        text-align: center;
    }
}
.portfolio-container {
    margin-top: 50px;
    display: flex;
}
.photo-section{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: -5%;
img {
    height: 100%;
    width: auto;
    padding: 0px;
    margin: 0px;
}
.photo {
    padding: 0px;
    margin: 0px;
    height: 300px;
}
}

