/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Tenor Sans'), local('TenorSans'), url(https://fonts.gstatic.com/s/tenorsans/v9/bx6ANxqUneKx06UkIXISn3V4Dw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/NaPecZTIAOhVxoMyOr9n_E7fdMPmCA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mrs Saint Delafield';
  font-style: normal;
  font-weight: 400;
  src: local('Mrs Saint Delafield'), local('MrsSaintDelafield-Regular'), url(https://fonts.gstatic.com/s/mrssaintdelafield/v5/v6-IGZDIOVXH9xtmTZfRagunqBw5WC62QKknKg.ttf) format('truetype');
}
.contact-page {
  width: 90%;
  margin: 100px auto;
}
.contact-page .contact-column-one {
  width: 50%;
  border-right: 1px solid #000000;
  padding: 0% 5%;
  padding-left: 10%;
  min-width: 300px;
}
@media (max-width: 800px) {
  .contact-page .contact-column-one {
    width: 100%;
    padding: 0%;
    border-right: none;
    border-bottom: 1px solid #000000;
  }
}
.contact-page h1 {
  font-family: 'Mrs Saint Delafield', cursive;
  color: #C16E70;
  font-size: 5rem;
  text-align: center;
}
.contact-page p {
  font-size: 1.6rem;
  padding: 20px 0px;
  line-height: 25px;
}
.contact-page .contact-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .contact-page .contact-columns {
    flex-direction: column;
  }
}
.contact-page .contact-column-two {
  font-size: 1.6rem;
  width: 50%;
  padding: 5%;
  min-width: 300px;
}
@media (max-width: 800px) {
  .contact-page .contact-column-two {
    margin-top: 20px;
    width: 100%;
    padding: 0%;
  }
}
.contact-page .input {
  font-size: 1.6rem;
}
.form-container {
  font-size: 1.6rem;
}
.button {
  font-size: 2rem;
  height: 40px;
  width: 80px;
}
@media (max-width: 800px) {
  .button {
    width: 60%;
    padding: 0%;
  }
}
@media (max-width: 500px) {
  .button {
    width: 100%;
    height: 50px;
  }
}
.home-header-container {
  position: absolute;
  background-color: white;
  padding: 30px;
  margin-top: -460px;
  margin-left: 28%;
  display: flex;
  width: 600px;
  height: auto;
  outline: 1px solid white;
  outline-offset: 5px;
}
@media (max-width: 1000px) {
  .home-header-container {
    margin-left: 18%;
  }
}
@media (max-width: 800px) {
  .home-header-container {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: -480px;
    margin-left: 10%;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .home-header-container {
    flex-direction: column;
    width: 90%;
    font-size: 1.4rem;
    margin-left: 5%;
    margin-top: -500px;
    padding: 10px;
  }
}
.home-header-container .header-text {
  padding-right: 20px;
}
@media (max-width: 800px) {
  .home-header-container .header-text {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .home-header-container .header-text {
    padding: 0px;
  }
}
.home-header-container h2 {
  font-family: 'Mrs Saint Delafield', cursive;
  color: #C16E70;
  font-size: 5rem;
  text-align: center;
}
.home-header-container p {
  font-family: 'Tenor Sans', sans-serif;
}
@media (max-width: 500px) {
  .home-header-container p {
    font-size: 1.4rem;
    margin: 10px auto;
    text-align: center;
  }
}
.home-header-container img {
  height: 300px;
  width: auto;
}
@media (max-width: 800px) {
  .home-header-container img {
    height: 200px;
    width: auto;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .home-header-container img {
    height: 200px;
    width: auto;
    margin: 0 auto;
  }
}
.home-quote {
  position: absolute;
  font-family: 'Tenor Sans', sans-serif;
  width: 90%;
  margin: 0 auto;
  margin-top: -360px;
  height: 400px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .home-quote {
    margin-left: 50px;
  }
}
@media (max-width: 800px) {
  .home-quote {
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .home-quote {
    position: static;
    margin: 15px auto;
    flex-direction: column;
    height: auto;
  }
}
.home-quote .quote-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 550px;
  background-color: white;
  padding: 20px;
  outline: 2px solid white;
  outline-offset: 5px;
  margin-left: -5%;
  margin-top: 50px;
}
@media (max-width: 1000px) {
  .home-quote .quote-text {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .home-quote .quote-text {
    position: static;
    width: 100%;
    margin: 0 auto;
  }
}
.home-quote img {
  height: 100%;
  width: auto;
  margin-left: 65%;
  margin-top: 200px;
  z-index: 4;
}
@media (max-width: 1000px) {
  .home-quote img {
    height: 90%;
    margin-left: 50%;
  }
}
@media (max-width: 800px) {
  .home-quote img {
    height: 300px;
    width: auto;
    margin-left: 30%;
  }
}
@media (max-width: 500px) {
  .home-quote img {
    margin: 15px auto;
    margin-bottom: 0px;
    height: 220px;
    width: auto;
  }
}
.home-quote h2 {
  color: #adadad;
  width: 450px;
  z-index: 5;
}
@media (max-width: 1000px) {
  .home-quote h2 {
    font-size: 2rem;
    width: 400px;
  }
}
@media (max-width: 500px) {
  .home-quote h2 {
    width: 100%;
    margin: 0 auto;
  }
}
.home-quote h3 {
  color: #969696;
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .home-quote h3 {
    justify-content: flex-start;
    margin-top: 10px;
  }
}
.home-center-div {
  height: 300px;
  margin: 0 auto;
  margin-top: 300px;
  width: 75%;
  margin-left: 18%;
  display: flex;
}
@media (max-width: 1000px) {
  .home-center-div {
    flex-direction: column-reverse;
    height: auto;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 250px;
  }
}
@media (max-width: 800px) {
  .home-center-div {
    flex-direction: column-reverse;
    margin: 0px auto;
    margin-top: 150px;
    width: 90%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .home-center-div {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    height: auto;
  }
}
.home-center-div .home-tags {
  font-family: 'Mrs Saint Delafield', cursive;
  background-color: #DBB3B1;
  list-style: none;
  color: white;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-top: 22px;
  outline: 1px solid #DBB3B1;
  outline-offset: 5px;
}
@media (max-width: 1000px) {
  .home-center-div .home-tags {
    height: 100%;
    width: 80%;
    margin: 15px auto;
  }
}
@media (max-width: 800px) {
  .home-center-div .home-tags {
    width: 100%;
    margin: 20px auto;
    height: auto;
  }
}
@media (max-width: 500px) {
  .home-center-div .home-tags {
    width: 100%;
    margin: 0px;
    height: auto;
  }
}
.home-center-div .joyful {
  padding-left: 10%;
  font-size: 6rem;
}
@media (max-width: 800px) {
  .home-center-div .joyful {
    padding-left: 22%;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .home-center-div .joyful {
    padding-left: 15%;
    font-size: 3.5rem;
  }
}
.home-center-div .artistic {
  padding-left: 30%;
  font-size: 6rem;
}
@media (max-width: 800px) {
  .home-center-div .artistic {
    padding-left: 42%;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .home-center-div .artistic {
    padding-left: 35%;
    font-size: 3.5rem;
  }
}
.home-center-div .genuine {
  padding-left: 50%;
  font-size: 6rem;
}
@media (max-width: 800px) {
  .home-center-div .genuine {
    padding-left: 62%;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .home-center-div .genuine {
    padding-left: 55%;
    font-size: 3.5rem;
  }
}
.carousel-container {
  width: 50%;
  height: auto;
  margin-top: 25px;
}
@media (max-width: 1000px) {
  .carousel-container {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 800px) {
  .carousel-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .carousel-container {
    width: 100%;
    margin: 15px auto;
    margin-bottom: 0px;
    padding: 0px;
  }
}
.home-bottom-img {
  padding-top: 150px;
}
@media (max-width: 1000px) {
  .home-bottom-img {
    padding-top: 0px;
  }
}
@media (max-width: 800px) {
  .home-bottom-img {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .home-bottom-img {
    padding-top: 15px;
  }
}
.home-page-footer {
  background-color: #ffffff;
  outline: 1px solid #ffffff;
  outline-offset: 5px;
  position: absolute;
  width: 500px;
  height: auto;
  margin-top: -450px;
  margin-left: 600px;
  padding: 50px;
}
@media (max-width: 1000px) {
  .home-page-footer {
    margin-left: 265px;
  }
}
@media (max-width: 800px) {
  .home-page-footer {
    width: 60%;
    height: auto;
    margin-left: 150px;
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .home-page-footer {
    width: 90%;
    position: static;
    margin: 0 auto;
    padding: 10px;
  }
}
.home-page-footer h2 {
  font-family: 'Mrs Saint Delafield', cursive;
  color: #C16E70;
  font-size: 5rem;
  text-align: center;
}
.home-page-footer p {
  font-family: 'Tenor Sans', sans-serif;
}
@media (max-width: 800px) {
  .home-page-footer p {
    font-size: 1.4rem;
  }
}
.investment-page {
  text-align: center;
}
.investment-page .investment-header {
  position: absolute;
  background-color: #ffffff;
  padding: 30px;
  margin-top: -350px;
  margin-left: 38%;
  display: flex;
  width: 300px;
  outline: 1px solid #ffffff;
  outline-offset: 5px;
}
@media (max-width: 800px) {
  .investment-page .investment-header {
    margin-left: 25%;
  }
}
@media (max-width: 500px) {
  .investment-page .investment-header {
    position: relative;
    background-color: none;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
    width: 80%;
    padding: 15px;
  }
}
.investment-page h1 {
  font-family: 'Mrs Saint Delafield', cursive;
  color: #C16E70;
  font-size: 7rem;
  margin: 30px 0px;
  margin-left: 10px;
}
@media (max-width: 500px) {
  .parallax {
    display: none;
  }
}
.price-boxes {
  margin: 50px auto;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .price-boxes {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.price-boxes .box {
  height: 350px;
  width: 350px;
  background-color: #ffffff;
  padding: 20px;
  margin: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
@media (max-width: 800px) {
  .price-boxes .box {
    height: 350px;
    width: 300px;
  }
}
@media (max-width: 500px) {
  .price-boxes .box {
    width: 80%;
    font-size: 1.4rem;
  }
}
.price-boxes h2 {
  font-family: 'Mrs Saint Delafield', cursive;
  color: #C16E70;
  font-size: 5rem;
}
.price-boxes h4 {
  font-family: 'Tenor Sans', sans-serif;
  color: #DBB3B1;
  font-size: 3rem;
}
.price-boxes p {
  font-family: 'Tenor Sans', sans-serif;
}
.nav-container {
  margin-top: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .nav-container {
    margin-bottom: 20px;
  }
}
.nav-container .logo {
  height: 100px;
  width: auto;
  padding-left: 50px;
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  .nav-container .logo {
    margin: 10px auto;
    margin-left: 20%;
  }
}
@media (max-width: 500px) {
  .nav-container .logo {
    margin: 0px;
    width: 90%;
    height: auto;
  }
}
@media (max-width: 800px) {
  .nav-container .logo-bar {
    width: 100%;
  }
}
.nav-container .ml-auto {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 800px) {
  .nav-container .ml-auto {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .nav-container .ml-auto {
    width: 100%;
    flex-direction: column;
  }
}
.nav-container .nav-link {
  color: #DBB3B1;
  font-size: 2.2rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: thin;
}
@media (max-width: 500px) {
  .nav-container .nav-link {
    width: 100%;
    font-size: 2.5rem;
  }
}
.nav-container .nav-link:hover {
  color: #C16E70;
}
.side-bar {
  font-family: 'Mrs Saint Delafield', cursive;
  margin-top: 50px;
  height: 300px;
  width: 140px;
  background-color: #DBB3B1;
  color: #ffffff;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 30vh;
  left: 0;
  z-index: 5;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .side-bar {
    display: none;
  }
}
@media (max-width: 800px) {
  .side-bar {
    display: none;
  }
}
.side-bar h4 {
  font-size: 5rem;
  margin-left: 25px;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .side-bar h4 {
    margin-left: 10px;
  }
}
.side-bar ul {
  padding: 20px;
}
@media (max-width: 500px) {
  .side-bar ul {
    padding: 5%;
  }
}
.side-bar li {
  font-family: 'Titillium Web', sans-serif;
  list-style: none;
  padding: 10px 0px;
}
.side-bar li a {
  color: #ffffff;
}
.portfolio-header {
  text-align: center;
  height: 200px;
  width: 300px;
  background-color: #ffffff;
  position: absolute;
  margin-top: -300px;
  margin-left: 37%;
  outline: 1px solid #ffffff;
  outline-offset: 5px;
}
@media (max-width: 800px) {
  .portfolio-header {
    margin-left: 30%;
  }
}
@media (max-width: 500px) {
  .portfolio-header {
    position: relative;
    background-color: none;
    margin: 0 auto;
    outline: none;
    width: 80%;
    height: 170px;
    padding-bottom: 25%;
  }
}
.portfolio-header h1 {
  padding-top: 25%;
  font-family: 'Mrs Saint Delafield', cursive;
  color: #C16E70;
  font-size: 6rem;
  text-align: center;
}
@media (max-width: 500px) {
  .portfolio-header h1 {
    padding-top: 20%;
  }
}
.portfolio-container {
  margin-top: 50px;
  display: flex;
}
.photo-section {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .photo-section {
    justify-content: space-evenly;
  }
}
@media (max-width: 500px) {
  .photo-section {
    width: 95%;
    justify-content: space-evenly;
  }
}
.photo-section img {
  height: 100%;
  width: auto;
  padding: 0px;
  margin: 0px;
}
.photo-section .photo {
  padding: 0px;
  margin: 0px;
  height: 300px;
  width: auto;
}
@media (max-width: 800px) {
  .photo-section .photo {
    height: 250px;
    width: auto;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .photo-section .photo {
    height: 150px;
    width: auto;
    margin: 0 auto;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html p {
  font-size: 1.6rem;
}
html li {
  font-size: 1.6rem;
}
html h2 {
  font-size: 3rem;
}
.app-background {
  background-color: #f7f7f7;
}
.parallax-element {
  height: 100vh;
}
.copyright {
  padding-top: 5px;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}
